html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #001233;
    color: #CAC0B3;
}

.nav-link {
    text-decoration: none;
    color: #CAC0B3;
}

.nav-link:hover {
    color: #C8595A;
}

.btn {
    color: #F1D073;
    border: 1px solid #F1D073;
}

.btn:hover {
    background-color: #C8595A;
    color: #CAC0B3;
}

.activenav {
    color: #C8595A;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1 0 auto;
}

.color-overlay {
    width: 100%;
    height: 100%
}

header {
    background: no-repeat center center;
    background-size: cover;
}

h1, h2 {
    color: #F1D073;
}

.navbar-toggler {
    border: 1px solid #C8595A;
    color: rgba(255, 89, 90, 0.7);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(241, 208, 115, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.color-overlay {
    min-height: 60vh;
}

.singleCol {
    max-width: 750px;
}

.card {
    border-color: #CAC0B3;
}

.card-body {
    background-color: #001233;
    color: #CAC0B3;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

footer {
    background-color: #C8595A;
    flex-shrink: 0;
}

footer a {
    color: #F1D073;
}

footer a:hover {
    color: #ffe59f;
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 35vh;
    }

    .self {
        width: 100%;
        height: 100%;
    }

    hr {
        display: none;
    }
}

@media (min-width: 767.98px){
    .self {
        margin-left: 25px;
    }
}
